@charset "UTF-8";

@font-face {
  font-family: "SwearBanner";
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  src:url("../../fonts/swear-font-family/SwearBannerDemo-MediumCilati.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  src:url("../../fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --color-primary: #FFCB05;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #00274C;
  --color-background: white;
  --color-text: #131516;
  --color-anchor: #00274C;
  --font-family: "Manrope", sans-serif;
  --font-weight-strong: 550;
  --font-size-h1: 10rem;
}

html {
  overflow-x: hidden;
}
/* HEADINGS N STUFF*/
h1 {
  font-size: 5rem;
  text-align: center;
  font-family: var(--font-family);
  margin: 15rem 0rem 1.5rem 0rem;
  line-height: 1;
}

h1 strong {
  font-size: 5.5rem;
  font-family:"SwearBanner", serif;
}

#short_intro {
  margin: 0rem 0rem 15rem 0rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
}


/* MAIN BODY STUFF */

body {
  margin: 1rem;
  font-family: var(--font-family);
  line-height: 1.5;
  font-size: 2rem;
}

#sabpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  object-fit: cover;
}
/* gradient - MAKE SURE TO ADD PREFERS REDUCED MOTION LATER */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* NAV BAR STUFF */
nav {
  display: block;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0.25rem;
}

nav ul a {
  display: inline-grid;
  padding:0rem .5rem 0rem .5rem;
  color: var(--color-text);
  font-size: 1.5rem;
  text-decoration: none;
}
nav ul a::before {
  width: 100%;
  height: 0.25em;
  background-color: var(--color-secondary);
  opacity: 0.15;
  content: "";
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;

}

.skip a{
  position: absolute;
  top: -100px;
  background-color: white;
  overflow: hidden;
  color: #00274C;

}
.skip a:focus {
  top: 25px;
  padding: 0.5%;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

 @media screen and (min-width: 825px) 
 /* desktop view!!!!!!! YAAAAY */
 {

  /* headings */
  h1 {
    font-size: var(--font-size-h1);
    text-align: center;
    font-family: var(--font-family);
    margin: 5rem 0rem 0rem 0rem;
  }

  /* MAIN BODY STUFF */
  body {
    margin: 2rem;
  }

   /* nav bar */
    nav ul a {
    display: inline-grid;
    padding:.5rem 1rem .5rem 1rem;
    color: var(--color-text);
    font-size: 1.5rem;
    text-decoration: none;
  }
  nav ul a::before {
    width: 100%;
    height: 0.25em;
    background-color: var(--color-secondary);
    opacity: 0.15;
    content: "";
  }

 }
