@charset "UTF-8";

@font-face {
  font-family: "Swear-Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  src: local("swear-font-family"), local("swear-font-family"), url("../../fonts/SwearBannerDemo-MediumCilati-Regular.otf") format("otf");
  font-display: swap;
}

:root {
  --color-primary: #FFCB05;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #00274C;
  --color-background: white;
  --color-text: #131516;
  --color-anchor: #00274C;
  --font-family: "Swear-Display", sans-serif;
  --font-weight-strong: 550;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1rem;
  --font-size-text: 1rem;
  --border-radius: 8px;
}

