@charset "UTF-8";

@font-face {
  font-family: "SwearBanner";
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  src:url("../../fonts/swear-font-family/SwearBannerDemo-MediumCilati.otf") format("opentype");

  font-display: swap;
}

:root {
  --color-primary: #FFCB05;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #00274C;
  --color-background: white;
  --color-text: #131516;
  --color-anchor: #00274C;
  --font-family: "SwearBanner", serif;
  --font-weight-strong: 550;
  --font-size-h1: 10rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1rem;
  --font-size-text: 1rem;
  --border-radius: 8px;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  text-align: center;
  font-family: var(--font-family);
}

/* gradient */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
